<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>COMMENTS</h1>
    <div class="container">
        <% for(let comment of comments) {%>
            <div class="card">
                <h3>
                    <%= comment.id %>
                </h3>
                <h2>
                    <%= comment.username %>
                </h2>
                <p>
                    <%= comment.comment %>
                </p>
                <a href="/comments/<%= comment.id %>">Show</a>
                <a href="/comments/<%= comment.id %>/edit">Edit</a>
                <br><br>
                <form action="/comments/<%= comment.id %>?_method=DELETE" method="POST">
                    <button>Delete</button>
                </form>
            </div>
            <% } %>
                <a href="/comments/new">Add New Comment</a>
    </div>
</body>

</html>